[{"title": "ai", "author": "sarim ", "publication_year": 2023, "genre": "Fiction", "read_status": false, "date_added": "2025-03-26 17:06:43"}, {"title": "yotbe", "author": "faraz", "publication_year": 2023, "genre": "Other", "read_status": true, "date_added": "2025-03-26 18:25:24", "pdf_file": "Create a YouTube Analytics Tool that allows users to search for any YouTube channel and display detailed analytics about the channel.pdf"}]
